<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="Openbox">
    <item label="Terminal">
      <action name="Execute">
        <command>xfce4-terminal</command>
      </action>
    </item>
    <item label="File Manager">
      <action name="Execute">
        <command>thunar</command>
      </action>
    </item>
    <item label="Web Browser">
      <action name="Execute">
        <command>firefox</command>
      </action>
    </item>
    <item label="Text Editor">
      <action name="Execute">
        <command>mousepad</command>
      </action>
    </item>
    <separator/>
    <item label="Logout">
      <action name="Execute">
        <command>lxsession-logout</command>
      </action>
    </item>
  </menu>
</openbox_menu>

